<div class="container text-center mt-5">
    <h1 class="display-4">404 Error</h1>
    <p class="lead">Oops! The page you're looking for could not be found.</p>
    <img src="assets/images/error.PNG" style="height: 400px; width: 400px;" alt="Error Image" class="img-fluid mb-4"><br>
    <a href="#" class="btn btn-primary">Go Back to Home</a>
  </div>

  <!-- Link Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>