<app-navbar [hideabout]="true"></app-navbar>
<br>
<section class="about-us-section py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="mb-4">About Us</h2>
          <p>At Learning, our mission is to help anyone learn anything. We believe in the power of education to transform lives and empower individuals to pursue their dreams.</p>
          <p>With over thousands of courses taught by expert instructors, we provide a platform where students from around the world can learn and acquire new skills.</p>
          <p>Join millions of learners and unlock your potential with learning.</p>
        </div>
        <div class="col-lg-6">
            <img src="assets/images/main.PNG" style="height: 400px; width: 400px;" alt="About Us Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <footer style="background-color: #f1f1f1; padding: 20px; text-align: center;">
    <p>&copy; 2023 Your Company. All rights reserved.</p>
  </footer>