<app-navbar (filterClicked)="filterCourses($event)"></app-navbar>

<div class="container-fluid">
    <div class="row">
      
      <div class="col-md-3 bg text py-4">
       <br><br><input class="form-control me-2" type="search" placeholder="Search" style="width: 70%;" [(ngModel)]="searchTxt" />

       <br><br>
        <h6 class="text-center">Sorting</h6>
        <br>
        <div class="dropdown">
          <span><button  class="btn btn-primary text-center"> Rating</button><br><br></span>
          <div class="dropdown-content">
            <button  class="btn btn-primary" (click)="SortbyRd()">High Rating</button><br><br>
            <button class="btn btn-primary" (click)="SortbyRa()">Low Rating</button><br><br>
          </div>
        </div>
        <!-- <button  class="btn btn-primary text-center" (click)="SortbyRd()">High Rating</button><br><br>
        <button class="btn btn-primary" (click)="SortbyRa()">Low Rating</button><br><br> -->
        <div class="dropdown">
          <span><button  class="btn btn-primary text-center"> Price</button><br><br></span>
          <div class="dropdown-content">
            <button class="btn btn-primary" (click)="SortbyPd()">High Price</button><br><br>
            <button class="btn btn-primary" (click)="SortbyPa()">Low Price</button><br><br>
          </div>
        </div>
        <!-- <button class="btn btn-primary" (click)="SortbyPd()">High Price</button><br><br>
        <button class="btn btn-primary" (click)="SortbyPa()">Low Price</button><br><br> -->
        <div class="dropdown">
        <button class="btn btn-primary" (click)="Sortbyt()">Max Duration</button><br><br> </div>
        <button class="btn btn-primary" (click)="resetFilter()">Reset Filter</button><br><br>
        <h6 class="text-center">Categories</h6>
        <br>
        <button  class="btn btn-primary" (click)="handleFilter('ALL')">All</button><br><br>
        <button class="btn btn-primary" (click)="handleFilter('IT')">IT & Devlopment</button><br><br>
        <button class="btn btn-primary" (click)="handleFilter('Design')">Design</button><br><br>
        <button class="btn btn-primary" (click)="handleFilter('PersonalDevelopment')">PersonalDevelopment</button><br><br>
        <button class="btn btn-primary" (click)="handleFilter('Finance')">Finance</button><br><br>
      </div>

      
      <div class="col-md-9 bg-light py-4">
        <h3 class="text-center">Courses</h3> <br><br>
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-left: 0%; margin-right: 0%;">
            <div class="col" *ngFor="let c of searchedCourses">
              <div class="card h-100">
                <img id="catlog_img" [src]=c.courseImg class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{c.courseName}}</h5>
                  <p class="card-text">{{c.courseDesc}}</p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Price ₹{{c.coursePrice}}</small><br>
                  <small class="text-body-secondary">Rating : {{c.courseRating}}/5</small><br>
                  <small class="text-body-secondary"><b>Category : {{c.courseCategory}}</b></small><br>
                  <small class="text-body-secondary"><b>Duration : {{c.courseDuration}} Hrs</b></small><br>
                  <small class="text-body-secondary"><button class="btn btn-primary" [routerLink]="['/view',c.courseId]">Enroll Now</button></small>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div><br>
  <footer style="background-color: #f1f1f1; padding: 20px; text-align: center;">
    <p>&copy; 2023 Your Company. All rights reserved.</p>
  </footer>