<app-navbar></app-navbar>
<br><br>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
            <!-- Replace the iframe with your video player code (e.g., YouTube embed) -->
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/your-video-id1" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">Week 1</h5>
            <p class="card-text">Course Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <!-- Add course details, price, and enrollment button -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
            <!-- Replace the iframe with your video player code (e.g., YouTube embed) -->
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/your-video-id2" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title"> Week 2</h5>
            <p class="card-text">Course Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <!-- Add course details, price, and enrollment button -->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
            <!-- Replace the iframe with your video player code (e.g., YouTube embed) -->
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/your-video-id2" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">Week 3</h5>
            <p class="card-text">Course Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <!-- Add course details, price, and enrollment button -->
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
            <!-- Replace the iframe with your video player code (e.g., YouTube embed) -->
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/your-video-id2" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">Week 4</h5>
            <p class="card-text">Course Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <!-- Add course details, price, and enrollment button -->
          </div>
        </div>
      </div>

      <!-- Add more video cards with course information -->

    </div>
  </div>
  <br><br><br>
  <br>
  <footer style="background-color: #f1f1f1; padding: 20px; text-align: center; float: inline-end;">
    <p>&copy; 2023 Your Company. All rights reserved.</p>
  </footer>